<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/jquery.cookie.js"></script>

    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <script src="assets/plugins/gy-alert.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
    <div class="row" id="main">
        <div class="col-sm-12" style="text-align: center;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table data-toggle="table" data-url="/list-docs" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-order="desc" data-show-export="true" id="result-table">
                                <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true">vmName</th>
                                    <th data-field="id"  data-visible="false">文本编号</th>
                                    <th data-field="name">文本名</th>
                                    <th data-field="upLog">上传批次</th>
                                    <th data-field="location"  data-visible="false">文本位置</th>
                                    <th data-field="xmlLocation" data-visible="false">分词文本位置</th>
                                    <th data-field="upTime">上传时间</th>
                                    <th data-field="saveTime">处理时间</th>
                                    <th data-field="status" >文本状态</th>
                                    <th data-field="uploader" >上传人</th>
                                    <th data-formatter="operateFormatter" data-events='operateEvents'>操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </div><!--/.row-->



<script>
    $("[search-for]").click(function () {
        $("[search-group]").hide();
        $("#"+$(this).attr("search-for")).show();
    })

    function addItem() {
        //$("#item-block").clone(true).after($("#item-block").last()).show();
        $("[item-type]").last().after($("#item-block").clone(true).attr("item-type","item").show());
    }
    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="btn btn-info detail" show="off"> 详情</button> '+
            '<button type="button" class="btn btn-info delete"> 删除</button> '
        ].join('');

    };
    function detailFormatter(index, row) {
        var html = [];
        html.push('<div  class="row">');
        html.push('<div class="col-md-12">');
        html.push('<textarea>'+row["content"]+'</textarea>')
        html.push('</div>');
        html.push('</div>');

        return html.join('');
    }

    window.operateEvents = {
        'click .detail': function (e, value, row, index) {
            /*if($(this).attr("show")=="off") {
                $(this).attr("show","on");
                var html = [];
                html.push('<div  class="row">');
                html.push('<div class="col-md-12">');
                html.push('' + row["content"] + '')
                html.push('</div>');
                html.push('</div>');
                var coln = $('#result-table').bootstrapTable('getVisibleColumns').length;
                $('#result-table').find('tr[data-index=' + index + ']').after('<tr class="detail-view" detail-index="' + index + '"><td colspan="' + coln + '">' + html.join('') + '</td></tr>');
            }
            else {
                $(this).attr("show","off");
                $('#result-table').find('tr[detail-index=' + index + ']').remove();
            }},*/
            $.post("/get-txt",{id:row["id"]},function (rdata) {
                if(!rdata.startsWith("error")){
                    $.gyAlert({
                        title:"案例详情",
                        contentHtml:'<pre style="width: 100%">'+rdata+'</pre>'
                    })
                }
                else {
                    $.gyAlert({
                        title:"错误",
                        contentText:"获取案例详情时出错"+rdata
                    })
                }
            })
        },

        'click .delete':function (e,value,row,index) {
            $.gyAlert({
                title:"删除文本",
                contentText:"确认删除该文本吗？",
                confirm:function () {
                    //点确定之后的操作
                    $.post("/delete-doc",{id:row["id"]},function (rdata) {
                        if (rdata == "success") {
                            $.gyAlert({
                                title: "操作成功",
                                contentText: "已成功删除该条文本"
                            });
                            $('#result-table').bootstrapTable('refresh', { url: '/list-docs' });

                        }
                        else {
                            $.gyAlert({
                                title: "操作失败",
                                contentText: "删除失败 " + rdata
                            })
                        }
                    })
                }
            })
        }
    };
</script>

<script>
    function onEnterDown(event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e&&e.keyCode==13){
            ;
        }
    }
    //提交表单
    function multi_search_submit() {
        var json = [];
        var j = {};
        j.type = 'and';
        j.attr = $("#first-select").val();
        j.keyword = $("#first-input").val();
        j.weight = $("#first-weight").val();
        json.push(j);
        $("[item-type=item]").each(function () {
            var item={
                type:$(this).find("[input-type=type]").val(),
                attr:$(this).find("[input-type=attr]").val(),
                keyword:$(this).find("[input-type=keyword]").val(),
                weight:$(this).find("[input-type=weight]").val(),
            };
            json.push(item);
        })
        var json_str = JSON.stringify(json);
        $('#result-table').bootstrapTable('refresh', { url: '/multi-search-result',query:{json:json_str}});
    }
</script>


</body>
</html>