<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>法律案例检索系统</title>

    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/jquery.cookie.js"></script>

    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>


    <script src="assets/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="assets/plugins/bootstrap-fileinput/js/zh.js"></script>
    <script src="assets/plugins/gy-alert.js"></script>
    <script src="assets/plugins/jquery-editable-select/jquery-editable-select.js"></script>
    <link href="assets/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <link href="assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/jquery-editable-select/jquery-editable-select.css" rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table data-toggle="table" data-url="/list-new-words" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-order="desc" data-show-export="true" id="word-table">
                    <thead>
                    <tr>
                        <th data-formatter="idFormatter" data-field="id">编号</th>
                        <th data-field="word">新词</th>
                        <th data-field="createTime">发现时间</th>
                        <th data-field="createLocation">发现文件位置</th>
                        <th data-field="sepaType">分词词性</th>
                        <th data-formatter="stateFormatter" data-field="processFlag">处理结果</th>
                        <th data-field="remark">备注</th>
                        <th data-formatter="operateFormatter" data-events='operateEvents' data-width=" 180px">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div><!--/.row-->

<div class="modal fade" id="newWordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 130px;width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">
                    词性标注并添加到词典
                </h4>
            </div>
            <div class="modal-body" style="text-align: center;padding: 0px 55px">

                <div class="col-sm-12" style="margin-top: 25px;display: inline-table">
                    <label style="width: 30%;text-align: right">词组：</label>
                    <p id="word-p" style="width: 70%;display: inline-block">.</p>
                    <p id="word-id-p" style="display: none"></p>
                </div>
                <div class="col-sm-12" style="margin-top: 25px;display: inline-table">
                    <label style="width: 30%;text-align: right">词性：</label>
                    <select id="word-type-select" class="form-control" style="width: 70%;display: inline-block">
                        <option value="dsr">dsr <i>(当事人)</i></option>
                        <option value="spr">spr <i>(审判人)</i></option>
                        <option value="ay">ay <i>(案由)</i></option>
                        <option value="sjy">sjy <i>(书记员)</i></option>
                    </select>
                </div>
                <div class="col-sm-12" style="margin-top: 25px;display: inline-table">
                    <label style="width: 30%;text-align: right">备注：</label>
                    <input id="word-mark-input" class="form-control" style="width: 70%;display: inline-block" />
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="labelNewword()">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<script>


    $('#word-type-select').editableSelect({
        effects: 'slide'
    });

    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="btn btn-info mark"> 标注并添加</button> '+
            '<button type="button" class="btn btn-danger delete"> 忽略</button> '
        ].join('');

    };
    function idFormatter(index, row) {
        var html = [];
        html.push(''+(index+1));

        return html.join('');
    }

    function stateFormatter(value, row, index) {
        if(value==0)
            return "未处理";
        if(value==1)
            return "已标注";
        if(value==2)
            return "已忽略";

    };

    function labelNewword() {
        var data={
            id:parseInt( $("#word-id-p").text()),
              word:$("#word-p").text(),
              sepaType:$("#word-type-select").val(),
              mark:$("#word-mark-input").val()
        };
        $.post("label-newword",data,function (rdata) {

            $("#newWordModal").modal("hide");
            if (rdata == "success") {
                $.gyAlert({
                    title: "操作成功",
                    contentText: "已成功标注并添加该条新词"
                });
                $('#word-table').bootstrapTable('refresh', { url: '/list-new-words' });

            }
            else {
                $.gyAlert({
                    title: "操作失败",
                    contentText: "标注失败 " + rdata
                })
            }
        })
    }

    window.operateEvents = {
        'click .mark': function (e, value, row, index) {
            $("#word-id-p").text(row["id"]);
            $("#word-p").text( row["word"]    );
            $("#word-mark-input").val("");
            $("#newWordModal").modal("show");
        },
        'click .delete': function (e, value, row, index) {
            $.gyAlert({
                title:"忽略新词",
                contentText:"确认忽略该新词吗？",
                confirm:function () {
                    //点确定之后的操作
                    $.post("ignore-newword",{id:row["id"]},function (rdata) {
                        if (rdata == "success") {
                            $.gyAlert({
                                title: "操作成功",
                                contentText: "已成功忽略该条新词"
                            });
                            $('#word-table').bootstrapTable('refresh', { url: '/list-new-words' });

                        }
                        else {
                            $.gyAlert({
                                title: "操作失败",
                                contentText: "忽略失败 " + rdata
                            })
                        }
                    })
                }
            })
        },
    };

</script>

</body>
</html>