<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/jquery.cookie.js"></script>

    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>


    <script src="assets/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="assets/plugins/bootstrap-fileinput/js/zh.js"></script>
    <script src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="assets/plugins/gy-alert.js"></script>
    <link href="assets/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet">
    <link href="assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="col-sm-12">
        <input id="input-id" type="file" multiple data-preview-file-type="text" name="file">

    </div>
    <div class="col-sm-12" style="margin-top: 10px;padding-left: 30px">
        <p style="display: inline-block;color: green;font-size: larger">每天凌晨0：30系统会自动扫描上传的案件数据，进行案例文件的处理和案例库的更新</p>

    </div>
    <div class="col-sm-12" style="margin-top: 10px;padding-left: 30px;display: none">
        <label style="display: inline-block">定时更新状态：</label>
        <p style="display: inline-block;color: green">开启</p>
        <button class="btn btn-info" style="margin-left: 30px" onclick="">关闭定时更新</button>

    </div>
    <div class="col-sm-12"style="margin-top: 10px;padding-left: 30px;display: none">
        <label style="display: inline-block">设置自动更新时间：</label>
        <input type="text" readonly="readonly" id="monday_s" class="form-control timepicker timepicker-default startTime" style="width: 150px;display: inline-block;cursor: pointer">
        <label style="display: inline-block;margin-left: 50px" >设置自动更新频率：</label>
        <input class="form-control" style="width: 150px;display: inline-block"/>
        <p style="display: inline-block;">天</p>
    </div>
    <div class="col-sm-12"style="margin-top: 10px">
        <div class="panel panel-default">
            <div class="panel-body">
                <table data-toggle="table" data-url="/list-up" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-order="desc" data-show-export="true" id="user-table">
                    <thead>
                    <tr>
                        <th data-field="id">编号</th>
                        <th data-field="fileName">文件名</th>
                        <th data-field="uploader">上传人</th>
                        <th data-field="upTime">上传时间</th>
                        <th data-field="isSave" data-formatter="stateFormatter">处理状态</th>
                        <th data-formatter="operateFormatter" data-events='operateEvents'>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div><!--/.row-->

<div class="modal fade" id="addDicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 130px;width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">
                    添加词典
                </h4>
            </div>
            <div class="modal-body" style="text-align: center;padding: 0px 55px">

                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="login-username-input" class="form-control" placeholder="词组" style="width: 100%" />
                </div>
                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="login-password-input" class="form-control" placeholder="词性" type="password" style="width: 100%" />
                </div>

                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="login-code-input" class="form-control" placeholder="类型"  style="width: 100%" />
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<script>
    $("#input-id").fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/upload',
        overwriteInitial: false,
        maxFileSize: 0,
        //: ['jpg', 'gif', 'png', 'xls', 'xlsx', 'pdf', 'txt', 'doc', 'docx', 'rar', 'mp4', 'zip'],//接收的文件后缀
        maxFilesNum: 10,
        preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
        previewFileIconSettings: { // configure your icon file extensions
            'doc': '<i class="fa fa-file-word-o text-primary"></i>',
            'xls': '<i class="fa fa-file-excel-o text-success"></i>',
            'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
            'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
            'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
            'htm': '<i class="fa fa-file-code-o text-info"></i>',
            'txt': '<i class="fa fa-file-text-o text-info"></i>',
            'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
            'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
            // note for these file types below no extension determination logic
            // has been configured (the keys itself will be used as extensions)
            'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
            'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
            'png': '<i class="fa fa-file-photo-o text-primary"></i>'
        },
        previewFileExtSettings: { // configure the logic for determining icon file extensions
            'doc': function (ext) {
                return ext.match(/(doc|docx)$/i);
            },
            'xls': function (ext) {
                return ext.match(/(xls|xlsx)$/i);
            },
            'ppt': function (ext) {
                return ext.match(/(ppt|pptx)$/i);
            },
            'zip': function (ext) {
                return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
            },
            'htm': function (ext) {
                return ext.match(/(htm|html)$/i);
            },
            'txt': function (ext) {
                return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
            },
            'mov': function (ext) {
                return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
            },
            'mp3': function (ext) {
                return ext.match(/(mp3|wav)$/i);
            }
        },
        allowedFileExtensions :['zip'],
        hideThumbnailContent: true,
    }).off('filepreupload').on('filepreupload', function () {
        //alert("Initial pre-upload message!");
    });

    $('.timepicker').timepicker({
        defaultTime:'9:00',
        showMeridian:false,
    });

    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="btn btn-info start"> 开始处理</button> '+
            '<button type="button" class="btn btn-danger delete"> 删除</button> '
        ].join('');

    };
    function operateFormatter(value, row, index) {
        if(value==0)
            return "未处理";
        if(value==1)
            return "以处理";
        if(value==2)
            return "处理中";

    };
    window.operateEvents = {
        'click .start': function (e, value, row, index) {
            $.gyAlert({
                title:"开始处理",
                contentText:"即将对该次上传进行结构化处理和导入，确定操作吗",
                confirm:function () {
                    //点确定之后的操作
                    $.post("/save-up",{id:row["id"]},function (rdata) {
                        if (rdata == "success") {
                            $.gyAlert({
                                title: "操作成功",
                                contentText: "正在进行结构化处理和导入，该过程可能会花费比较长的时间，请耐心等候"
                            });
                            $('#user-table').bootstrapTable('refresh', { url: '/list-up' });

                        }
                        else {
                            $.gyAlert({
                                title: "操作失败",
                                contentText: "处理失败 " + rdata
                            })
                        }
                    })
                }
            })
        },
        'click .delete': function (e, value, row, index) {
            $.gyAlert({
                title:"确认删除",
                contentText:"即将删除该批次导入的所有数据，您可能因此丢失重要的数据，确定操作吗",
                confirm:function () {
                    //点确定之后的操作
                    $.post("/delete-up",{id:row["id"]},function (rdata) {
                        if (rdata == "success") {
                            $.gyAlert({
                                title: "操作成功",
                                contentText: "正在进行删除，该过程可能会花费比较长的时间，请耐心等候"
                            });
                            $('#user-table').bootstrapTable('refresh', { url: '/list-up' });

                        }
                        else {
                            $.gyAlert({
                                title: "操作失败",
                                contentText: "处理失败 " + rdata
                            })
                        }
                    })
                }
            })
        }
    };

</script>

</body>
</html>