<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>法律案例检索系统</title>

    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/jquery.cookie.js"></script>

    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <script src="assets/plugins/gy-alert.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <style>
        html,body{
            height: 100%;
        }
        #container{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        #header{
            flex: 0 0 auto;
        }
        #main{
            flex: 1 0 auto;
        }
        #footer{
            flex: 0 0 auto;
        }
    </style>
</head>
<body>
<div class="container" id="container">
    <div class="row" id="header" style="background: #00aced">
        <div class="col-md-6">
            <div onclick="location.href='/'" style="padding: 20px">
                <img height="80px" width="80px" src="assets/img/lawLogo.png" style=" margin: 0px 10px 15px 20px"/>
                <h1 style="display: inline-block;">法律案例检索系统</h1>
            </div>
        </div>
        <div class="col-md-6" id="before-login" style="text-align: right;display: none;margin-top: 10px">
            <div style="padding:20px 40px;font-size: larger">
                <a style="text-decoration: none;margin-right: 30px" onclick="$('#loginModal').modal('show')">登录</a>
                <a style="text-decoration: none;margin-right: 30px" onclick="$('#registerModal').modal('show')">注册</a>
            </div>
        </div>
        <div class="col-md-6" id="after-login" style="text-align: right;display: none;margin-top: 10px">
            <div style="padding:20px 40px;font-size: larger">
                <a id="username-a" style="text-decoration: none;margin-right: 30px">用户名</a>
                <a  style="text-decoration: none;margin-right: 30px" onclick="logout()">退出登录</a>
            </div>
        </div>
        <div class="col-md-6" id="after-login-favorite" style="text-align: right;display: none">
            <div style="padding:0px 60px 0px 0px;font-size: larger">
                <span class="glyphicon glyphicon-star-empty" style="color: white"> </span>
                <h4 onclick="location.href='/favorite'" style="display: inline-block;color: white;margin-right: 20px"> 我的收藏夹</h4>
            </div>
        </div>

        <script>
            if($.cookie("userId")!=null&&$.cookie("userPasswd")!=null&&$.cookie("userId").toString()!= "null" && $.cookie("userPasswd").toString()!= "null")
            {
                $("#username-a").text($.cookie("userName"));
                $("#after-login").show();
                $("#before-login").remove();
                $("#after-login-favorite").show();
            }
            else
            {
                $("#after-login").hide();
                $("#after-login-favorite").hide();
                $("#before-login").show();
            }
        </script>
    </div>
    <div class="row" id="main" style="margin-top: 40px">
        <div class="col-md-12" style="text-align: left">
            <div search-for="search-group" style="width: 200px;display: inline-block;text-align: center">
                <label style="display: inline-block;line-height: 50px;border: 1px solid #aaa;width: 100%;height: 50px">条件检索</label>
            </div>
            <div search-for="search-group2" style="width: 200px;display: inline-block;text-align: center;display: none">
                <img style="width: 150px;height: 60px" />
                <label style="">分类检索</label>
            </div>
            <div search-for="search-group3" style="width: 200px;display: inline-block;text-align: center">
                <label style="display: inline-block;line-height: 50px;border: 1px solid #aaa;width: 100%;height: 50px">相似案例检索</label>
            </div>
        </div>
        <div class="col-md-12" style="text-align: center;">

            <div class="panel panel-default">
                <div class="panel-body" style="padding: 10px 80px">

            <div class="row" search-group id="search-group" style="padding:5px 30px;width:925px;">
                <div class="col-lg-12" style="text-align: left">
                    <h3>输入检索条件：</h3>
                </div>
                <div class="col-lg-12" style="text-align: left">
                    <button class="btn btn-primary" onclick="addItem()">添加检索项</button>
                    <span id="search-info" style="float: right;right: 100px;display: none;color: green">共查询到<span id="total-span"></span>条记录，在<span id="time-span"></span>s内</span>
                </div>
                <div class="col-lg-12" style="text-align: left;margin-top: 10px">
                    <div class="input-group">
                        <select class="form-control" id="first-select" style="width:100px;margin-left: 70px">
                            <option value="caseName">案件名称</option>
                            <option value="courtName">法院名称</option>
                            <option value="courtProvince">法院省份</option>
                            <option value="courtCountry" >法院区县</option>
                            <option value="courtRegion" >法院区域</option>
                            <option value="courtType" >法院类型</option>
                            <option value="caseType">案件类型</option>
                            <option value="trialProcedure" >审判程序</option>
                            <option value="docType">文书类型</option>
                            <option value="caseNo" >案号</option>
                            <option value="caseCause" >案由</option>
                            <option value="client" >当事人</option>
                            <option value="judge" >审判人员</option>
                            <option value="clerk" >书记员</option>
                            <option value="trialMonoption" >裁判月份</option>
                            <option value="trialDate">裁判日期</option>
                            <option value="trialYear" >裁判年份</option>
                            <option value="keyword" >关键词</option>
                        </select>
                        <input class="form-control" id="first-input"  style="width:500px;margin-left: 5px"/>
                        <select class="form-control" id="first-weight" style="width:100px">
                            <option value="1">权重=1</option>
                            <option value="2">权重=2</option>
                            <option value="3">权重=3</option>
                            <option value="4">权重=4</option>
                            <option value="5">权重=5</option>
                        </select>
                        <!--<select class="form-control" style="width:65px;margin-left: 5px">-->
                        <!--<option>并含</option>-->
                        <!--<option>或者</option>-->
                        <!--<option>不含</option>-->
                        <!--</select>-->
                        <!--<input  class="form-control" style="width:220px;margin-left: 5px"/>-->
                        <!--<select class="form-control" style="width:65px">-->
                        <!--<option>模糊</option>-->
                        <!--<option>精确</option>-->
                        <!--</select>-->
                    </div>
                </div>

                <div class="col-lg-12" id="item-block" item-type style="text-align: left;margin-top: 10px;display: none">
                    <div class="input-group">
                        <select class="form-control" input-type="type" style="width:108px">
                            <option value="and">并含</option>
                            <option value="or">或者</option>
                            <option value="not">不含</option>
                        </select>
                        <select class="form-control" input-type="attr" style="width:100px;margin-left: 12px">
                            <option value="caseName">案件名称</option>
                            <option value="courtName">法院名称</option>
                            <option value="courtLevel" >法院层级</option>
                            <option value="courtProvince">法院省份</option>
                            <option value="courtCity" >法院地市</option>
                            <option value="courtCountry" >法院区县</option>
                            <option value="courtRegion" >法院区域</option>
                            <option value="isExpUnit" >法院试点</option>
                            <option value="courtType" >法院类型</option>
                            <option value="caseType">案件类型</option>
                            <option value="trialProcedure" >审判程序</option>
                            <option value="docType">文书类型</option>
                            <option value="caseNo" >案号</option>
                            <option value="caseCause" >案由</option>
                            <option value="client" >当事人</option>
                            <option value="judge" >审判人员</option>
                            <option value="clerk" >书记员</option>
                            <option value="trialMonoption" >裁判月份</option>
                            <option value="trialDate">裁判日期</option>
                            <option value="trialYear" >裁判年份</option>
                            <option value="courtLevelOne" >一级法院</option>
                            <option value="courtLevelTwo" >二级法院</option>
                            <option value="courtLeveloptionree" >三级法院</option>
                            <option value="courtLevelFour" >四级法院</option>
                            <option value="courtSuperior" >上级法院名称</option>
                        </select>
                        <input class="form-control" input-type="keyword" style="width:500px;margin-left: 5px"/>
                        <select class="form-control" input-type="weight" style="width:100px">
                            <option value="1">权重=1</option>
                            <option value="2">权重=2</option>
                            <option value="3">权重=3</option>
                            <option value="4">权重=4</option>
                            <option value="5">权重=5</option>
                        </select>
                        <span onclick="$(this).parent().parent().remove()" style="background: #ff3e2f;height: 26px;width: 26px;cursor: pointer; line-height: 26px;border-radius: 13px;margin: 4px 0px 0px 20px;color: white;display: inline-block;text-align: center;font-size: x-large;font-weight: bold;text-decoration: none">-</span>
                        <!--<select class="form-control" style="width:65px;margin-left: 5px">-->
                        <!--<option>并含</option>-->
                        <!--<option>或者</option>-->
                        <!--<option>不含</option>-->
                        <!--</select>-->
                        <!--<input  class="form-control" style="width:220px;margin-left: 5px"/>-->
                        <!--<select class="form-control" style="width:65px">-->
                        <!--<option>模糊</option>-->
                        <!--<option>精确</option>-->
                        <!--</select>-->
                    </div>
                </div>

                <!--<div class="col-lg-12 form-inline" style="text-align: left;margin-top: 20px">-->
                <!--<label style="line-height: 34px;font-size: large;font-weight: normal">时间范围:</label>-->
                <!--<input class="form-control"  style="width:220px;margin-left: 45px"/>-->
                <!--<span style="margin-left: 25px">至</span>-->
                <!--<input class="form-control" style="width:220px;margin-left: 25px"/>-->
                <!--</div>-->

                <div class="col-lg-12" style="text-align: right;margin-top: 10px">
                    <button class="btn btn-success" style="margin-right: 60px"  onclick="multi_search_submit()">开始检索</button>
                </div>

            </div>


            <div class="row" search-group id="search-group3" style="padding:5px 30px;width:925px;display: none">
                <div class="col-lg-12" style="text-align: left">
                    <h3>输入情况：</h3>
                </div>
                <div class="col-lg-12" style="text-align: left">
                    <textarea id="similar-search-text" class="form-control" data-width=" 100%;max-width: 100%;height: 150px" placeholder="请尽可能详细的描述你遇到的情况" onkeydown="onEnterDown()"></textarea>
                </div>
                <div class="col-lg-12 form-inline" style="text-align: left;display: none">
                    <label style="margin-right: 20px">匹配程度：</label>
                    <input type="radio" style="margin-top: 8px;margin-left: 20px" name="level" value="13135">高</input>
                    <input type="radio" style="margin-top: 8px;margin-left: 20px" name="level" value="13135">中</input>
                    <input type="radio" style="margin-top: 8px;margin-left: 20px" name="level" value="13135">中</input>
                </div>
                <div class="col-lg-12" style="text-align: right;margin-top: 10px">
                    <button class="btn btn-success" style="margin-right: 60px" onclick="similar_search_submit()">开始检索</button>
                </div>
            </div>


            <div class="row" search-group id="search-group2" style="padding:5px 30px;width:925px;display: none">


                <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                    <label style="font-weight: normal;font-size: medium;width: 90px">地区：</label>
                    <select class="form-control" style="width:150px">
                        <option>北京市</option>
                        <option>所有</option>
                    </select>
                    <select class="form-control" style="width:150px">
                        <option>海淀区</option>
                        <option>所有</option>
                    </select>
                    <select class="form-control" style="width:150px">
                        <option>五道口</option>
                        <option>所有</option>
                    </select>
                </div>

                <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                    <label style="font-weight: normal;font-size: medium;width: 90px">裁判时间：</label>
                    <select class="form-control" style="width:150px">
                        <option>2018年</option>
                    </select>
                    <select class="form-control" style="width:150px">
                        <option>11月</option>
                        <option>所有</option>
                    </select>
                    <select class="form-control" style="width:150px">
                        <option>21日</option>
                        <option>所有</option>
                    </select>
                </div>

                <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                    <label style="font-weight: normal;font-size: medium;width: 90px">法院层次：</label>
                    <select class="form-control" style="width:150px">
                        <option>4</option>
                        <option>所有</option>
                    </select>
                </div>

                <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                    <label style="font-weight: normal;font-size: medium;width: 90px">审判类型：</label>
                    <select class="form-control" style="width:150px">
                        <option>一审</option>
                        <option>所有</option>
                    </select>
                </div>

                <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                    <label style="font-weight: normal;font-size: medium;width: 90px">文书类型：</label>
                    <select class="form-control" style="width:150px">
                        <option>判决书</option>
                        <option>所有</option>
                    </select>
                </div>

                <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                    <label style="font-weight: normal;font-size: medium;width: 90px">案件类型：</label>
                    <select class="form-control" style="width:150px">
                        <option>民事案件</option>
                        <option>所有</option>
                    </select>
                </div>

                <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                    <label style="font-weight: normal;font-size: medium;width: 90px">法院类型：</label>
                    <select class="form-control" style="width:150px">
                        <option>普通法院</option>
                        <option>所有</option>
                    </select>
                </div>

                <div class="col-lg-12" style="text-align: right;margin-top: 10px">
                    <button class="btn btn-success" style="margin-right: 60px">开始检索</button>
                </div>

            </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12" style="text-align: center;margin-top: 20px">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table data-toggle="table"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"  data-sort-order="desc" data-show-export="true" id="result-table">
                                <thead>
                                <tr>
                                    <th data-field="caseName" >案件名称</th>
                                    <th data-field="courtName">法院名称</th>
                                    <th data-field="courtLevel" data-visible="false">法院层级</th>
                                    <th data-field="courtProvince">法院省份</th>
                                    <th data-field="courtCity" data-visible="false">法院地市</th>
                                    <th data-field="courtCountry"  data-visible="false">法院区县</th>
                                    <th data-field="courtRegion" data-visible="false">法院区域</th>
                                    <th data-field="isExpUnit" data-visible="false">法院试点</th>
                                    <th data-field="courtType" data-visible="false">法院类型</th>
                                    <th data-field="caseType" data-visible="false">案件类型</th>
                                    <th data-field="trialProcedure" data-visible="false">审判程序</th>
                                    <th data-field="docType">文书类型</th>
                                    <th data-field="caseNo" >案号</th>
                                    <th data-field="caseCause" data-visible="false">案由</th>
                                    <th data-field="client" data-visible="false">当事人</th>
                                    <th data-field="judge" data-visible="false">审判人员</th>
                                    <th data-field="clerk" data-visible="false">书记员</th>
                                    <th data-field="trialMonth" data-visible="false">裁判月份</th>
                                    <th data-field="trialDate">裁判日期</th>
                                    <th data-field="trialYear" data-visible="false">裁判年份</th>
                                    <th data-field="courtLevelOne" data-visible="false">一级法院</th>
                                    <th data-field="courtLevelTwo" data-visible="false">二级法院</th>
                                    <th data-field="courtLevelThree" data-visible="false">三级法院</th>
                                    <th data-field="courtLevelFour" data-visible="false">四级法院</th>
                                    <th data-field="courtSuperior" data-visible="false">上级法院名称</th>
                                    <th data-field="content" data-visible="false" >判决内容</th>
                                    <th data-formatter="operateFormatter" data-events='operateEvents' data-width="200px">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </div><!--/.row-->
    <div class="row" id="footer">
        <div class="col-sm-12" style="text-align: center">
            <p>版权信息：@北航软院阳光工作室</p>
        </div>
    </div>

</div>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 130px;width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">
                    登&nbsp;&nbsp;&nbsp;录
                </h4>
            </div>
            <div class="modal-body" style="text-align: center;padding: 0px 55px">

                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="login-username-input" class="form-control" placeholder="用户名" style="width: 100%" />
                </div>
                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="login-password-input" class="form-control" placeholder="密码" type="password" style="width: 100%" />
                </div>

                <div class="col-sm-7" style="margin-top: 25px;text-align: center">
                    <input id="login-code-input" class="form-control" placeholder="验证码"  style="width: 100%" />
                </div>

                <div class="col-sm-5" id="login-code-div" style="margin-top: 25px;text-align: center">
                </div>
                <div style="clear:both;"></div>

            </div>
            <div class="modal-footer" style="text-align: center;border-top: none;padding: 0px 55px">
                <div class="col-sm-12" style="margin-top: 10px">
                    <button id="login-btn" type="button" class="btn btn-default" onclick="login()" style="width: 100%">登录
                    </button>
                </div>
                <div class="col-sm-6" style="margin: 25px 0px 20px 0px;text-align: center">
                    <a style="text-decoration: none">没有账户</a>
                </div>
                <div class="col-sm-6" style="margin: 25px 0px 20px 0px;text-align: center">
                    <a style="text-decoration: none">忘记密码</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 130px;width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">
                    注&nbsp;&nbsp;&nbsp;册
                </h4>
            </div>
            <div class="modal-body" style="text-align: center;padding: 0px 55px">

                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="register-username-input" class="form-control" placeholder="用户名" style="width: 100%" />
                </div>
                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="register-password-input" class="form-control" placeholder="密码" type="password" style="width: 100%" />
                </div>
                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="register-repassword-input" class="form-control" placeholder="确认密码" type="password" style="width: 100%" />
                </div>
                <div class="col-sm-12" style="margin-top: 25px;text-align: center">
                    <input id="register-email-input" class="form-control" placeholder="邮箱"  style="width: 100%" />
                </div>

                <div class="col-sm-7" style="margin-top: 25px;text-align: center">
                    <input id="register-code-input" class="form-control" placeholder="验证码"  style="width: 100%" />
                </div>

                <div class="col-sm-5" id="register-code-div" style="margin-top: 25px;text-align: center">
                </div>
                <div style="clear:both;"></div>

            </div>
            <div class="modal-footer" style="text-align: center;border-top: none;padding: 0px 55px">
                <div class="col-sm-12" style="margin-top: 0px;text-align: center">
                    <input id="radioInput" type="radio" selected="selected" />
                    <label for="radioInput" style="font-weight: normal">我同意《xxxxxxx协议》</label>
                </div>
                <div class="col-sm-12" style="margin: 12px 0px 25px 0px;">
                    <button id="register-btn" type="button" class="btn btn-default" onclick="register()" style="width: 100%">注册
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $("[search-for]").click(function () {
        $("[search-group]").hide();
        $("#"+$(this).attr("search-for")).show();
    });
    var json_str="";

    $("#result-table").bootstrapTable({
        url:"/multi-search-result2",
        queryParamsType:'',
        queryParams: function queryParams(params) {
            var param = {
                pageNumber: params.pageNumber,
                pageSize: params.pageSize,
                json:json_str
            };
            return param;
        },
        pagination: true,//是否开启分页（*）
        pageNumber:1,//初始化加载第一页，默认第一页
        pageSize: 10,//每页的记录行数（*）
        pageList: [10,20,50],//可供选择的每页的行数（*）
        sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
        onLoadSuccess: function(rdata){  //加载成功时执行
            //console.log("加载成功"+rdata);
            $("#time-span").text(rdata["time"]);
            $("#total-span").text(rdata["total"]);
            //$("#search-info").show();
        }
    });


    function addItem() {
        //$("#item-block").clone(true).after($("#item-block").last()).show();
        $("[item-type]").last().after($("#item-block").clone(true).attr("item-type","item").show());
    }
    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="btn btn-info detail"> 详情</button> '+
            '<button type="button" class="btn btn-info recommend"> 推荐</button> ' +
            '<button type="button" class="btn btn-info favor"> 收藏</button> '
        ].join('');

    };
    function detailFormatter(index, row) {
        var html = [];
        html.push('<div  class="row">');
        html.push('<div class="col-md-12">');
        html.push('<textarea>'+row["content"]+'</textarea>')
        html.push('</div>');
        html.push('</div>');

        return html.join('');
    }

    window.operateEvents = {
        'click .detail': function (e, value, row, index) {
            $.post("/get-txt",{id:row["docId"]},function (rdata) {
                if(!rdata.startsWith("error")){
                    $.gyAlert({
                        title:"案例详情",
                        contentHtml:'<pre style="width: 100%">'+rdata+'</pre>'
                    })
                }
                else {
                    if(row["content"]!="")
                        $.gyAlert({
                            title:"案例详情",
                            contentHtml:'<pre style="width: 100%">'+row["content"]+'</pre>'
                        });
                    else
                        $.gyAlert({
                            title:"错误",
                            contentText:"获取案例详情时出错"+rdata
                        });
                }
            })
        },

        'click .recommend': function (e, value, row, index) {
            location.href = "recommend?docId=" + row["docId"];
        },

        'click .favor': function (e, value, row, index) {
            var data={
                docId:row["docId"]
            };
            $.post("/favor",data,function (rdata) {
                if(rdata=="success")
                {
                    alert("收藏成功");
                }
                else {
                    alert(rdata);
                }
            });
        }
    };
</script>

<script>
    //提交表单
    function multi_search_submit() {
        var json = [];
        var j = {};
        j.type = 'and';
        j.attr = $("#first-select").val();
        j.keyword = $("#first-input").val();
        j.weight = $("#first-weight").val();
        json.push(j);
        $("[item-type=item]").each(function () {
            var item={
                type:$(this).find("[input-type=type]").val(),
                attr:$(this).find("[input-type=attr]").val(),
                keyword:$(this).find("[input-type=keyword]").val(),
                weight:$(this).find("[input-type=weight]").val(),
            };
            json.push(item);
        })
        json_str = JSON.stringify(json);
        $('#result-table').bootstrapTable('refresh', { url: '/multi-search-result',query:{pageSize:10,pageNumber:1,json:json_str}});
    }
</script>

<script>
    function onEnterDown(event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e&&e.keyCode==13){
            similar_search_submit;
        }
    }

    function similar_search_submit() {
        var describe = {describe:$('#similar-search-text').val()};
        json_str = JSON.stringify(describe);
        $('#result-table').bootstrapTable('refresh',{url:'/similar-search-result',query:{pageSize:10,pageNumber:1,json:json_str}});
    }
</script>

<script src="assets/js/pages/jsVerifyCode.js"></script>
<script>
    function login() {
        var data={
            userId:parseInt( $("#login-username-input").val()),
            userPasswd:$("#login-password-input").val(),
            code:$("#login-code-input").val()
        };
        //TODO 直接判断用户名是否重名
        //TODO 验证密码复杂度
        $("#login-btn").text("正在登录...");
        $("#login-btn").attr("disabled","disabled");
        $.post("/uLogin",data,function (rdata) {
            if(rdata.startsWith( "success:"))
            {
                $.cookie("userId",$("#login-username-input").val(), { expires: 1 });
                $.cookie("userName",rdata.substring(8), { expires: 1 });
                $.cookie("userPasswd",$("#login-password-input").val(), { expires: 1 });
                $("#loginModal").modal("hide");
                $("#username-a").text(rdata.substring(8));
                $("#after-login").show();
                $("#before-login").remove();
                alert("登录成功");
            }
            else {
                alert(rdata);
                $("#login-btn").text("登录");
                $("#login-btn").removeAttr("disabled");
            }
        });
    }
    function register() {
        var data={
            userId:$("#register-username-input").val(),
            userPasswd:$("#register-password-input").val(),
            userPasswdConfirm:$("#register-repassword-input").val(),
            userEmail:$("#register-email-input").val(),
            code:$("#register-code-input").val()
        };
        //TODO 验证码区分和登录的
        //TODO 直接判断用户名是否重名
        //TODO 验证密码复杂度
        //TODO 验证确认密码
        //TODO 验证邮箱格式
        $("#register-btn").text("正在注册...");
        $("#register-btn").attr("disabled","disabled");
        $.post("/uRegister",data,function (rdata) {
            if(rdata=="success")
            {
                $("#registerModal").hide();
                alert("注册成功");
            }
            else {
                alert(rdata);
                $("#register-btn").text("注册");
                $("#register-btn").removeAttr("disabled");
            }
        });
    }

    function logout() {
        $.cookie("userName",null);
        $.cookie("userId",null);
        $.cookie("userPasswd",null);
        location.reload();
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var verifycode = [[${verifyCode}]];
    var verifycoderegister = [[${verifyCode}]];

    /*]]>*/
</script>

<script>
    var verifyCode = new GVerify({id:"login-code-div",showCode:verifycode});
    var verifyCodeRegister = new GVerify({id:"register-code-div",showCode:verifycoderegister,canvasId:"verifyCode2"});
</script>

<script>

</script>
</body>
</html>