<!DOCTYPE html>
<html>
  <head>
    <title>advanced-search</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="assets/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="assets/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="assets/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="assets/files/advanced-search/styles.css" type="text/css" rel="stylesheet"/>
    <script src="assets/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="assets/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="assets/resources/scripts/prototypePre.js"></script>
    <script src="assets/data/document.js"></script>
    <script src="assets/resources/scripts/prototypePost.js"></script>
    <script src="assets/files/advanced-search/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/assets/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>


    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>

    <style>
      select{
        padding-left: 3px !important;
      }
    </style>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u47" class="ax_default box_1" style="height: auto;overflow: scroll">
        <div id="u47_div" class=""></div>
      </div>

      <!-- Unnamed (组 合) -->
      <div id="u48" class="ax_default" data-left="0" data-top="0" data-width="1080" data-height="119">

        <!-- Unnamed (矩形) -->
        <div id="u49" class="ax_default box_2">
          <div id="u49_div" class=""></div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u50" class="ax_default" data-left="32" data-top="12" data-width="420" data-height="85">

          <!-- Unnamed (图片) -->
          <div id="u51" class="ax_default image">
            <img id="u51_img" class="img " src="assets/images/advanced-search/u51.png"/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u52" class="ax_default _一级标题">
            <div id="u52_div" class=""></div>
            <div id="u52_text" class="text ">
              <p><span>法律案例检索系统</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u53" class="ax_default" data-left="886" data-top="23" data-width="144" data-height="25">

          <!-- Unnamed (矩形) -->
          <div id="u54" class="ax_default link_button">
            <div id="u54_div" class=""></div>
            <div id="u54_text" class="text ">
              <p><span>用户名</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u55" class="ax_default link_button">
            <div id="u55_div" class=""></div>
            <div id="u55_text" class="text ">
              <p><span>退出登录</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u56" class="ax_default" data-left="904" data-top="65" data-width="119" data-height="25">

          <!-- Unnamed (矩形) -->
          <div id="u57" class="ax_default link_button">
            <div id="u57_div" class=""></div>
            <div id="u57_text" class="text ">
              <p><span>我的收藏夹</span></p>
            </div>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u58" class="ax_default image">
            <img id="u58_img" class="img " src="assets/images/advanced-search/u58.png"/>
          </div>
        </div>
      </div>


      <!-- Unnamed (组 合) -->
      <div id="u60" class="ax_default" data-left="83" data-top="136" data-width="371" data-height="60">

        <!-- Unnamed (组 合) -->
        <div id="u61" class="ax_default" data-left="83" data-top="136" data-width="117" data-height="60">

          <!-- Unnamed (单选按钮) -->
          <div id="u62" class="ax_default radio_button">
            <label for="u62_input" style="position: absolute; left: 0px;">
              <div id="u62_text" class="text ">
                <p><span>条件搜索</span></p>
              </div>
            </label>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u63" class="ax_default image">
            <img id="u63_img" class="img " src="assets/images/advanced-search/u63.png"/>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u64" class="ax_default" data-left="210" data-top="136" data-width="117" data-height="60">

          <!-- Unnamed (单选按钮) -->
          <div id="u65" class="ax_default radio_button">
            <label for="u65_input" style="position: absolute; left: 0px;">
              <div id="u65_text" class="text ">
                <p><span>分类检索</span></p>
              </div>
            </label>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u66" class="ax_default image">
            <img id="u66_img" class="img " src="assets/images/advanced-search/u63.png"/>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u67" class="ax_default" data-left="344" data-top="136" data-width="110" data-height="60">

          <!-- Unnamed (单选按钮) -->
          <div id="u68" class="ax_default radio_button">
            <label for="u68_input" style="position: absolute; left: 0px;">
              <div id="u68_text" class="text ">
                <p><span>相似案例检索</span></p>
              </div>
            </label>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u69" class="ax_default image">
            <img id="u69_img" class="img " src="assets/images/advanced-search/u63.png"/>
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u70" class="ax_default" style="border: 1px solid #aaa">
        <div id="u70_state0" class="panel_state" data-label="State1" style="">
          <div id="u70_state0_content" class="panel_state_content">
            <div class="row" id="search-group" style="padding:5px 30px;width:925px;">
              <div class="col-lg-12" style="text-align: left">
                <h3>输入检索条件：</h3>
              </div>
              <div class="col-lg-12" style="text-align: left">
                <button class="btn btn-primary" onclick="addItem()">添加检索项</button>
                <button class="btn btn-primary">删除检索项</button>
              </div>
              <div class="col-lg-12" style="text-align: left;margin-top: 10px">
                <div class="input-group">
                  <select class="form-control" style="width:100px;margin-left: 70px">
                    <option>案件名称</option>
                    <option>法院名称</option>
                    <option>法院层级</option>
                    <option>法院省份</option>
                    <option>法院地市</option>
                    <option>法院区县</option>
                    <option>法院区域</option>
                    <option>法院试点</option>
                    <option>法院类型</option>
                    <option>案件类型</option>
                    <option>审判程序</option>
                    <option>文书类型</option>
                    <option>案号</option>
                    <option>案由</option>
                    <option>当事人</option>
                    <option>审判人员</option>
                    <option>书记员</option>
                    <option>裁判月份</option>
                    <option>裁判日期</option>
                    <option>裁判年份</option>
                    <option>一级法院</option>
                    <option>二级法院</option>
                    <option>三级法院</option>
                    <option>四级法院</option>
                    <option>上级法院名称</option>
                    <option>判决内容</option>
                  </select>
                  <input class="form-control" style="width:220px;margin-left: 5px"/>
                  <select class="form-control" style="width:65px">
                    <option>模糊</option>
                    <option>精确</option>
                  </select>
                  <select class="form-control" style="width:65px;margin-left: 5px">
                    <option>并含</option>
                    <option>或者</option>
                    <option>不含</option>
                  </select>
                  <input  class="form-control" style="width:220px;margin-left: 5px"/>
                  <select class="form-control" style="width:65px">
                    <option>模糊</option>
                    <option>精确</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-12" id="item-block" style="text-align: left;margin-top: 10px;display: none">
                <div class="input-group">
                  <select class="form-control" style="width:58px">
                    <option>并含</option>
                    <option>或者</option>
                    <option>不含</option>
                  </select>
                  <select class="form-control" style="width:100px;margin-left: 12px">
                    <option>案件名称</option>
                    <option>法院名称</option>
                    <option>法院层级</option>
                    <option>法院省份</option>
                    <option>法院地市</option>
                    <option>法院区县</option>
                    <option>法院区域</option>
                    <option>法院试点</option>
                    <option>法院类型</option>
                    <option>案件类型</option>
                    <option>审判程序</option>
                    <option>文书类型</option>
                    <option>案号</option>
                    <option>案由</option>
                    <option>当事人</option>
                    <option>审判人员</option>
                    <option>书记员</option>
                    <option>裁判月份</option>
                    <option>裁判日期</option>
                    <option>裁判年份</option>
                    <option>一级法院</option>
                    <option>二级法院</option>
                    <option>三级法院</option>
                    <option>四级法院</option>
                    <option>上级法院名称</option>
                    <option>判决内容</option>
                  </select>
                  <input class="form-control" style="width:220px;margin-left: 5px"/>
                  <select class="form-control" style="width:65px">
                    <option>模糊</option>
                    <option>精确</option>
                  </select>
                  <select class="form-control" style="width:65px;margin-left: 5px">
                    <option>并含</option>
                    <option>或者</option>
                    <option>不含</option>
                  </select>
                  <input  class="form-control" style="width:220px;margin-left: 5px"/>
                  <select class="form-control" style="width:65px">
                    <option>模糊</option>
                    <option>精确</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 20px">
                <label style="line-height: 34px;font-size: large;font-weight: normal">时间范围:</label>
                <input class="form-control"  style="width:220px;margin-left: 45px"/>
                <span style="margin-left: 25px">至</span>
                <input class="form-control" style="width:220px;margin-left: 25px"/>
              </div>

              <div class="col-lg-12" style="text-align: right;margin-top: 10px">
                <button class="btn btn-success" style="margin-right: 60px">开始检索</button>
              </div>

            </div>



          </div>
        </div>
        <div id="u70_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u70_state1_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u91" class="ax_default _三级标题">
              <div id="u91_div" class=""></div>
              <div id="u91_text" class="text ">
                <p><span>输入情况：</span></p>
              </div>
            </div>

            <!-- Unnamed (多行文本框) -->
            <div id="u92" class="ax_default text_area">
              <textarea id="u92_input"></textarea>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u93" class="ax_default button">
              <div id="u93_div" class=""></div>
              <div id="u93_text" class="text ">
                <p><span>开 始 搜 索</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u94" class="ax_default label">
              <div id="u94_div" class=""></div>
              <div id="u94_text" class="text ">
                <p><span>匹配度</span></p>
              </div>
            </div>

            <!-- Unnamed (单选按钮) -->
            <div id="u95" class="ax_default radio_button">
              <label for="u95_input" style="position: absolute; left: 0px;">
                <div id="u95_text" class="text ">
                  <p><span>高</span></p>
                </div>
              </label>
            </div>

            <!-- Unnamed (单选按钮) -->
            <div id="u96" class="ax_default radio_button">
              <label for="u96_input" style="position: absolute; left: 0px;">
                <div id="u96_text" class="text ">
                  <p><span>低</span></p>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div id="u70_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
          <div id="u70_state2_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u97" class="ax_default _三级标题">
              <div id="u97_div" class=""></div>
              <div id="u97_text" class="text ">
                <p><span>分类检索</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u98" class="ax_default button">
              <div id="u98_div" class=""></div>
              <div id="u98_text" class="text ">
                <p><span>开 始 搜 索</span></p>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u99" class="ax_default" data-left="61" data-top="69" data-width="371" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u100" class="ax_default label">
                <div id="u100_div" class=""></div>
                <div id="u100_text" class="text ">
                  <p><span>地区：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u101" class="ax_default text_field">
                <input id="u101_input" type="text" value=""/>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u102" class="ax_default" data-left="61" data-top="104" data-width="370" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u103" class="ax_default label">
                <div id="u103_div" class=""></div>
                <div id="u103_text" class="text ">
                  <p><span>裁判时间</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u104" class="ax_default text_field">
                <input id="u104_input" type="text" value=""/>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u105" class="ax_default" data-left="62" data-top="141" data-width="370" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u106" class="ax_default label">
                <div id="u106_div" class=""></div>
                <div id="u106_text" class="text ">
                  <p><span>法院层次：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u107" class="ax_default text_field">
                <input id="u107_input" type="text" value=""/>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u108" class="ax_default" data-left="62" data-top="176" data-width="370" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u109" class="ax_default label">
                <div id="u109_div" class=""></div>
                <div id="u109_text" class="text ">
                  <p><span>审判类型：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u110" class="ax_default text_field">
                <input id="u110_input" type="text" value=""/>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u111" class="ax_default" data-left="62" data-top="211" data-width="370" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u112" class="ax_default label">
                <div id="u112_div" class=""></div>
                <div id="u112_text" class="text ">
                  <p><span>文书类型</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u113" class="ax_default text_field">
                <input id="u113_input" type="text" value=""/>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u114" class="ax_default" data-left="62" data-top="236" data-width="370" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u115" class="ax_default label">
                <div id="u115_div" class=""></div>
                <div id="u115_text" class="text ">
                  <p><span>案件类型</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u116" class="ax_default text_field">
                <input id="u116_input" type="text" value=""/>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u117" class="ax_default" data-left="62" data-top="271" data-width="370" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u118" class="ax_default label">
                <div id="u118_div" class=""></div>
                <div id="u118_text" class="text ">
                  <p><span>法院类型</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u119" class="ax_default text_field">
                <input id="u119_input" type="text" value=""/>
              </div>
            </div>

            <!-- Unnamed (组 合) -->
            <div id="u120" class="ax_default" data-left="62" data-top="296" data-width="370" data-height="25">

              <!-- Unnamed (矩形) -->
              <div id="u121" class="ax_default label">
                <div id="u121_div" class=""></div>
                <div id="u121_text" class="text ">
                  <p><span>审判层次</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u122" class="ax_default text_field">
                <input id="u122_input" type="text" value=""/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (内联框架) -->
      <div id="u123" class="ax_default">
        <iframe id="u123_input" scrolling="auto" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u124" class="ax_default">


        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <table data-toggle="table" data-url="/VirtualMachine/getVms" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="vmName" data-sort-order="desc" data-show-export="true" id="temp-table">
                  <thead>
                  <tr>
                    <th data-field="1">案件名称</th>
                    <th data-field="1">法院名称</th>
                    <th data-field="1">法院层级</th>
                    <th data-field="1">法院省份</th>
                    <th data-field="1">法院地市</th>
                    <th data-field="1">法院区县</th>
                    <th data-field="1">法院区域</th>
                    <th data-field="1">法院试点</th>
                    <th data-field="1">法院类型</th>
                    <th data-field="1">案件类型</th>
                    <th data-field="1">审判程序</th>
                    <th data-field="1">文书类型</th>
                    <th data-field="1">案号</th>
                    <th data-field="1">案由</th>
                    <th data-field="1">当事人</th>
                    <th data-field="1">审判人员</th>
                    <th data-field="1">书记员</th>
                    <th data-field="1">裁判月份</th>
                    <th data-field="1">裁判日期</th>
                    <th data-field="1">裁判年份</th>
                    <th data-field="1">一级法院</th>
                    <th data-field="1">二级法院</th>
                    <th data-field="1">三级法院</th>
                    <th data-field="1">四级法院</th>
                    <th data-field="1">上级法院名称</th>
                    <th data-field="1">判决内容</th>
                    <th data-formatter="operateFormatter" data-events='operateEvents'>操作</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div><!--/.row-->

      </div>
    </div>

  <script>
    function addItem() {
        //$("#item-block").clone(true).after($("#item-block").last()).show();
        $("#item-block").last().after($("#item-block").clone(true).attr("item-type","item").show());
    }
  </script>
  </body>
</html>
