<!DOCTYPE html>
<html>
  <head>
    <title>advanced-search</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="assets/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="assets/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="assets/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="assets/files/advanced-search/styles.css" type="text/css" rel="stylesheet"/>
    <script src="assets/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="assets/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="assets/resources/scripts/prototypePre.js"></script>
    <script src="assets/data/document.js"></script>
    <script src="assets/resources/scripts/prototypePost.js"></script>
    <script src="assets/files/advanced-search/data.js"></script>
    <script src="assets/plugins/jquery.cookie.js"></script>
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/assets/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>


    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>

    <style>
      select{
        padding-left: 3px !important;
      }
    </style>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u47" class="ax_default box_1" style="height: auto;overflow: scroll">
        <div id="u47_div" class=""></div>
      </div>

      <!-- Unnamed (组 合) -->
      <div id="u48" class="ax_default" data-left="0" data-top="0" data-width="1080" data-height="119">

        <!-- Unnamed (矩形) -->
        <div id="u49" class="ax_default box_2">
          <div id="u49_div" class=""></div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u50" class="ax_default" data-left="32" data-top="12" data-width="420" data-height="85">

          <!-- Unnamed (图片) -->
          <div id="u51" class="ax_default image">
            <img id="u51_img" class="img " src="assets/images/advanced-search/u51.png"/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u52" class="ax_default _一级标题">
            <div id="u52_div" class=""></div>
            <div id="u52_text" class="text ">
              <p><span>法律案例检索系统</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u53" class="ax_default" data-left="886" data-top="23" data-width="144" data-height="25">

          <!-- Unnamed (矩形) -->
          <div id="u54" class="ax_default link_button">
            <div id="u54_div" class=""></div>
            <div id="u54_text" class="text ">
              <p><span>用户名</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u55" class="ax_default link_button">
            <div id="u55_div" class=""></div>
            <div id="u55_text" class="text ">
              <p><span>退出登录</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u56" class="ax_default" data-left="904" data-top="65" data-width="119" data-height="25">

          <!-- Unnamed (矩形) -->
          <div id="u57" class="ax_default link_button">
            <div id="u57_div" class=""></div>
            <div id="u57_text" class="text ">
              <p><span onclick="location.href='/favorite'">我的收藏夹</span></p>
            </div>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u58" class="ax_default image">
            <img id="u58_img" class="img " src="assets/images/advanced-search/u58.png"/>
          </div>
        </div>
      </div>


      <!-- Unnamed (组 合) -->
      <div id="u60" class="ax_default" data-left="83" data-top="136" data-width="371" data-height="60">

        <!-- Unnamed (组 合) -->
        <div id="u61" class="ax_default" data-left="83" data-top="136" data-width="117" data-height="60">

          <!-- Unnamed (单选按钮) -->
          <div id="u62" class="ax_default radio_button">
            <label for="u62_input" style="position: absolute; left: 0px;">
              <div id="u62_text" class="text ">
                <p><span>条件搜索</span></p>
              </div>
            </label>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u63" class="ax_default image">
            <img id="u63_img" class="img " src="assets/images/advanced-search/u63.png"/>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u64" class="ax_default" data-left="210" data-top="136" data-width="117" data-height="60">

          <!-- Unnamed (单选按钮) -->
          <div id="u65" class="ax_default radio_button">
            <label for="u65_input" style="position: absolute; left: 0px;">
              <div id="u65_text" class="text ">
                <p><span>分类检索</span></p>
              </div>
            </label>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u66" class="ax_default image">
            <img id="u66_img" class="img " src="assets/images/advanced-search/u63.png"/>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u67" class="ax_default" data-left="344" data-top="136" data-width="110" data-height="60">

          <!-- Unnamed (单选按钮) -->
          <div id="u68" class="ax_default radio_button">
            <label for="u68_input" style="position: absolute; left: 0px;">
              <div id="u68_text" class="text ">
                <p><span>相似案例检索</span></p>
              </div>
            </label>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u69" class="ax_default image">
            <img id="u69_img" class="img " src="assets/images/advanced-search/u63.png"/>
          </div>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u70" class="ax_default" style="border: 1px solid #aaa">
        <div id="u70_state0" class="panel_state" data-label="State1" style="">
          <div id="u70_state0_content" class="panel_state_content">
            <div class="row" id="search-group" style="padding:5px 30px;width:925px;">
              <div class="col-lg-12" style="text-align: left">
                <h3>输入检索条件：</h3>
              </div>
              <div class="col-lg-12" style="text-align: left">
                <button class="btn btn-primary" onclick="addItem()">添加检索项</button>
              </div>
              <div class="col-lg-12" style="text-align: left;margin-top: 10px">
                <div class="input-group">
                  <select class="form-control" id="first-select" style="width:100px;margin-left: 70px">
                    <option value="caseName">案件名称</option>
                    <option value="courtName">法院名称</option>
                    <option value="courtLevel" >法院层级</option>
                    <option value="courtProvince">法院省份</option>
                    <option value="courtCity" >法院地市</option>
                    <option value="courtCountry" >法院区县</option>
                    <option value="courtRegion" >法院区域</option>
                    <option value="isExpUnit" >法院试点</option>
                    <option value="courtType" >法院类型</option>
                    <option value="caseType">案件类型</option>
                    <option value="trialProcedure" >审判程序</option>
                    <option value="docType">文书类型</option>
                    <option value="caseNo" >案号</option>
                    <option value="caseCause" >案由</option>
                    <option value="client" >当事人</option>
                    <option value="judge" >审判人员</option>
                    <option value="clerk" >书记员</option>
                    <option value="trialMonoption" >裁判月份</option>
                    <option value="trialDate">裁判日期</option>
                    <option value="trialYear" >裁判年份</option>
                    <option value="courtLevelOne" >一级法院</option>
                    <option value="courtLevelTwo" >二级法院</option>
                    <option value="courtLeveloptionree" >三级法院</option>
                    <option value="courtLevelFour" >四级法院</option>
                    <option value="courtSuperior" >上级法院名称</option>
                  </select>
                  <input class="form-control" id="first-input"  style="width:500px;margin-left: 5px"/>
                  <select class="form-control" id="first-weight" style="width:100px">
                    <option value="1">权重=1</option>
                    <option value="2">权重=2</option>
                    <option value="3">权重=3</option>
                    <option value="4">权重=4</option>
                    <option value="5">权重=5</option>
                  </select>
                  <!--<select class="form-control" style="width:65px;margin-left: 5px">-->
                    <!--<option>并含</option>-->
                    <!--<option>或者</option>-->
                    <!--<option>不含</option>-->
                  <!--</select>-->
                  <!--<input  class="form-control" style="width:220px;margin-left: 5px"/>-->
                  <!--<select class="form-control" style="width:65px">-->
                    <!--<option>模糊</option>-->
                    <!--<option>精确</option>-->
                  <!--</select>-->
                </div>
              </div>

              <div class="col-lg-12" id="item-block" item-type style="text-align: left;margin-top: 10px;display: none">
                <div class="input-group">
                  <select class="form-control" input-type="type" style="width:58px">
                    <option value="and">并含</option>
                    <option value="or">或者</option>
                    <option value="not">不含</option>
                  </select>
                  <select class="form-control" input-type="attr" style="width:100px;margin-left: 12px">
                      <option value="caseName">案件名称</option>
                      <option value="courtName">法院名称</option>
                      <option value="courtLevel" >法院层级</option>
                      <option value="courtProvince">法院省份</option>
                      <option value="courtCity" >法院地市</option>
                      <option value="courtCountry" >法院区县</option>
                      <option value="courtRegion" >法院区域</option>
                      <option value="isExpUnit" >法院试点</option>
                      <option value="courtType" >法院类型</option>
                      <option value="caseType">案件类型</option>
                      <option value="trialProcedure" >审判程序</option>
                      <option value="docType">文书类型</option>
                      <option value="caseNo" >案号</option>
                      <option value="caseCause" >案由</option>
                      <option value="client" >当事人</option>
                      <option value="judge" >审判人员</option>
                      <option value="clerk" >书记员</option>
                      <option value="trialMonoption" >裁判月份</option>
                      <option value="trialDate">裁判日期</option>
                      <option value="trialYear" >裁判年份</option>
                      <option value="courtLevelOne" >一级法院</option>
                      <option value="courtLevelTwo" >二级法院</option>
                      <option value="courtLeveloptionree" >三级法院</option>
                      <option value="courtLevelFour" >四级法院</option>
                      <option value="courtSuperior" >上级法院名称</option>
                  </select>
                  <input class="form-control" input-type="keyword" style="width:500px;margin-left: 5px"/>
                  <select class="form-control" input-type="weight" style="width:100px">
                    <option value="1">权重=1</option>
                    <option value="2">权重=2</option>
                    <option value="3">权重=3</option>
                    <option value="4">权重=4</option>
                    <option value="5">权重=5</option>
                  </select>
                    <span onclick="$(this).parent().parent().remove()" style="background: #ff3e2f;height: 26px;width: 26px;cursor: pointer; line-height: 26px;border-radius: 13px;margin: 4px 0px 0px 20px;color: white;display: inline-block;text-align: center;font-size: x-large;font-weight: bold;text-decoration: none">-</span>
                  <!--<select class="form-control" style="width:65px;margin-left: 5px">-->
                    <!--<option>并含</option>-->
                    <!--<option>或者</option>-->
                    <!--<option>不含</option>-->
                  <!--</select>-->
                  <!--<input  class="form-control" style="width:220px;margin-left: 5px"/>-->
                  <!--<select class="form-control" style="width:65px">-->
                    <!--<option>模糊</option>-->
                    <!--<option>精确</option>-->
                  <!--</select>-->
                </div>
            </div>

              <!--<div class="col-lg-12 form-inline" style="text-align: left;margin-top: 20px">-->
                <!--<label style="line-height: 34px;font-size: large;font-weight: normal">时间范围:</label>-->
                <!--<input class="form-control"  style="width:220px;margin-left: 45px"/>-->
                <!--<span style="margin-left: 25px">至</span>-->
                <!--<input class="form-control" style="width:220px;margin-left: 25px"/>-->
              <!--</div>-->

              <div class="col-lg-12" style="text-align: right;margin-top: 10px">
                <button class="btn btn-success" style="margin-right: 60px"  onclick="multi_search_submit()">开始检索</button>
              </div>

            </div>



          </div>
        </div>
        <div id="u70_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
          <div id="u70_state1_content" class="panel_state_content">

            <div class="row" id="search-group3" style="padding:5px 30px;width:925px;">
              <div class="col-lg-12" style="text-align: left">
                <h3>输入情况：</h3>
              </div>
              <div class="col-lg-12" style="text-align: left">
                <textarea id="similar-search-text" class="form-control" data-width=" 100%;max-width: 100%;height: 150px" placeholder="请尽可能详细的描述你遇到的情况" onkeydown="onEnterDown()"></textarea>
              </div>
              <div class="col-lg-12 form-inline" style="text-align: left">
                <label style="margin-right: 20px">匹配程度：</label>
                <input type="radio" style="margin-top: 8px;margin-left: 20px" name="level" value="13135">高</input>
                <input type="radio" style="margin-top: 8px;margin-left: 20px" name="level" value="13135">中</input>
                <input type="radio" style="margin-top: 8px;margin-left: 20px" name="level" value="13135">中</input>
              </div>
              <div class="col-lg-12" style="text-align: right;margin-top: 10px">
                <button class="btn btn-success" style="margin-right: 60px" onclick="similar_search_submit()">开始检索</button>
              </div>
            </div>

          </div>
        </div>
        <div id="u70_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
          <div id="u70_state2_content" class="panel_state_content">

            <div class="row" id="search-group2" style="padding:5px 30px;width:925px;">


              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                <label style="font-weight: normal;font-size: medium;width: 90px">地区：</label>
                <select class="form-control" style="width:150px">
                  <option>北京市</option>
                  <option>所有</option>
                </select>
                <select class="form-control" style="width:150px">
                  <option>海淀区</option>
                  <option>所有</option>
                </select>
                <select class="form-control" style="width:150px">
                  <option>五道口</option>
                  <option>所有</option>
                </select>
              </div>

              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                <label style="font-weight: normal;font-size: medium;width: 90px">裁判时间：</label>
                <select class="form-control" style="width:150px">
                  <option>2018年</option>
                </select>
                <select class="form-control" style="width:150px">
                  <option>11月</option>
                  <option>所有</option>
                </select>
                <select class="form-control" style="width:150px">
                  <option>21日</option>
                  <option>所有</option>
                </select>
              </div>

              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                <label style="font-weight: normal;font-size: medium;width: 90px">法院层次：</label>
                <select class="form-control" style="width:150px">
                  <option>4</option>
                  <option>所有</option>
                </select>
              </div>

              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                <label style="font-weight: normal;font-size: medium;width: 90px">审判类型：</label>
                <select class="form-control" style="width:150px">
                  <option>一审</option>
                  <option>所有</option>
                </select>
              </div>

              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                <label style="font-weight: normal;font-size: medium;width: 90px">文书类型：</label>
                <select class="form-control" style="width:150px">
                  <option>判决书</option>
                  <option>所有</option>
                </select>
              </div>

              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                <label style="font-weight: normal;font-size: medium;width: 90px">案件类型：</label>
                <select class="form-control" style="width:150px">
                  <option>民事案件</option>
                  <option>所有</option>
                </select>
              </div>

              <div class="col-lg-12 form-inline" style="text-align: left;margin-top: 8px">
                <label style="font-weight: normal;font-size: medium;width: 90px">法院类型：</label>
                <select class="form-control" style="width:150px">
                  <option>普通法院</option>
                  <option>所有</option>
                </select>
              </div>

              <div class="col-lg-12" style="text-align: right;margin-top: 10px">
                <button class="btn btn-success" style="margin-right: 60px">开始检索</button>
              </div>

            </div>


          </div>
        </div>
      </div>

      <!-- Unnamed (内联框架) -->
      <div id="u123" class="ax_default">
        <iframe id="u123_input" scrolling="auto" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u124" class="ax_default">


        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <table data-toggle="table" data-url="/multi-search-result2" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-order="desc" data-show-export="true" id="result-table">
                  <thead>
                  <tr>
                    <th data-field="caseName" >案件名称</th>
                    <th data-field="courtName">法院名称</th>
                    <th data-field="courtLevel" data-visible="false">法院层级</th>
                    <th data-field="courtProvince">法院省份</th>
                    <th data-field="courtCity" data-visible="false">法院地市</th>
                    <th data-field="courtCountry" data-visible="false">法院区县</th>
                    <th data-field="courtRegion" data-visible="false">法院区域</th>
                    <th data-field="isExpUnit" data-visible="false">法院试点</th>
                    <th data-field="courtType" data-visible="false">法院类型</th>
                    <th data-field="caseType">案件类型</th>
                    <th data-field="trialProcedure" data-visible="false">审判程序</th>
                    <th data-field="docType">文书类型</th>
                    <th data-field="caseNo" data-visible="false">案号</th>
                    <th data-field="caseCause" data-visible="false">案由</th>
                    <th data-field="client" data-visible="false">当事人</th>
                    <th data-field="judge" data-visible="false">审判人员</th>
                    <th data-field="clerk" data-visible="false">书记员</th>
                    <th data-field="trialMonth" data-visible="false">裁判月份</th>
                    <th data-field="trialDate">裁判日期</th>
                    <th data-field="trialYear" data-visible="false">裁判年份</th>
                    <th data-field="courtLevelOne" data-visible="false">一级法院</th>
                    <th data-field="courtLevelTwo" data-visible="false">二级法院</th>
                    <th data-field="courtLevelThree" data-visible="false">三级法院</th>
                    <th data-field="courtLevelFour" data-visible="false">四级法院</th>
                    <th data-field="courtSuperior" data-visible="false">上级法院名称</th>
                    <th data-field="content" data-visible="false" >判决内容</th>
                    <th data-formatter="operateFormatter" data-events='operateEvents'>操作</th>
                  </tr>
                  </thead>
                </table>

              </div>
            </div>
          </div>
        </div><!--/.row-->

      </div>
    </div>

  <script>
    function addItem() {
        //$("#item-block").clone(true).after($("#item-block").last()).show();
        $("[item-type]").last().after($("#item-block").clone(true).attr("item-type","item").show());
    }
    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="btn btn-info detail"> 详情</button> '+
            '<button type="button" class="btn btn-info"> 收藏</button> '
        ].join('');

    };
    function detailFormatter(index, row) {
        var html = [];
        html.push('<div  class="row">');
        html.push('<div class="col-md-12">');
        html.push('<textarea>'+row["content"]+'</textarea>')
        html.push('</div>');
        html.push('</div>');

        return html.join('');
    };

    window.operateEvents = {
        'click .detail': function (e, value, row, index) {
            var html = [];
            html.push('<div  class="row">');
            html.push('<div class="col-md-12">');
            html.push(''+row["content"]+'')
            html.push('</div>');
            html.push('</div>');
            var coln = $('#result-table').bootstrapTable('getVisibleColumns').length;
            $('#result-table').find('tr[data-index='+index+']').after('<tr class="detail-view" detail-index="'+index+'"><td colspan="'+coln+'">'+html.join('')+'</td></tr>');
        }
    };
  </script>

  <script>
      function onEnterDown(event) {
          var e = event || window.event || arguments.callee.caller.arguments[0];
          if (e&&e.keyCode==13){
              ;
          }
      }
      //提交表单
      function multi_search_submit() {
          var json = [];
          var j = {};
          j.type = 'and';
          j.attr = $("#first-select").val();
          j.keyword = $("#first-input").val();
          j.weight = $("#first-weight").val();
          json.push(j);
          $("[item-type=item]").each(function () {
              var item={
                  type:$(this).find("[input-type=type]").val(),
                  attr:$(this).find("[input-type=attr]").val(),
                  keyword:$(this).find("[input-type=keyword]").val(),
                  weight:$(this).find("[input-type=weight]").val(),
              };
              json.push(item);
          })
          var json_str = JSON.stringify(json);
          $('#result-table').bootstrapTable('refresh', { url: '/multi-search-result',query:{json:json_str}});
      }
  </script>

    <script>
        function onEnterDown(event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e&&e.keyCode==13){
                similar_search_submit;
            }
        }

        function similar_search_submit() {
            var describe = $('#similar-search-text').val();
            $('#result-table').bootstrapTable('refresh',{url:'/similar-search-result',query:{describe:describe}});
        }
    </script>
  </body>
</html>
