<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <style>
        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            *word-wrap: break-word;
            *white-space : normal ;
        }

    </style>
</head>
<body>
<div style="width: 1000px;" >
    <table style="border-width: 1px;border-style: dashed;">
        <tr>
            <td>name</td>
            <td>up-time</td>
            <td>操作</td>
        </tr>
        <tr th:each="doc:${list}">
            <td th:text="${doc.name}">ID</td>
            <td th:text="${doc.upTime}">省份</td>
            <td>还没有</td>
        </tr>
    </table>
</div>
</body>
</html>