<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>favorites</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="assets/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="assets/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="assets/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="assets/files/favorites/styles.css" type="text/css" rel="stylesheet"/>
    <script src="assets/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="assets/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="assets/resources/scripts/prototypePre.js"></script>
    <script src="assets/data/document.js"></script>
    <script src="assets/resources/scripts/prototypePost.js"></script>
    <script src="assets/files/favorites/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/assets/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>



    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>

    <style>
      li{
        list-style-type: none;
        padding: 5px 0px;
        padding-left: 10px;
      }
      li:hover{
        background: #1c94c4;
        color: white;
      }
      ol{
        padding-left: 30px;
      }
    </style>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u134" class="ax_default box_1">
        <div id="u134_div" class=""></div>
      </div>

      <div class="container" style="width: 1080px;margin-top: 200px">
        <div class="row">
          <div class="col-lg-4 col-md-4" style="display: none ">

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-lg-12">
                  <div class="btn-group" style="width: 100%">
                    <a class="btn btn-default" style="width: 25%">新建</a>
                    <a class="btn btn-default" style="width: 25%">新建</a>
                    <a class="btn btn-default" style="width: 25%">新建</a>
                    <a class="btn btn-default" style="width: 25%">新建</a>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="panel panel-default">

                    <ol style="padding-left: 10px">
                      <li>
                        <span class="glyphicon glyphicon-folder-close" aria-hidden="true" style="margin-right: 5px"></span>
                        新增虚拟机
                      </li>
                      <li>
                        <span class="glyphicon glyphicon-folder-close" aria-hidden="true" style="margin-right: 5px"></span>
                        新增虚拟机
                      </li>
                      <ol>
                        <li>
                          <span class="glyphicon glyphicon-file" aria-hidden="true" style="margin-right: 5px"></span>
                          新增虚拟机
                        </li>
                        <li>
                          <span class="glyphicon glyphicon-folder-close" aria-hidden="true" style="margin-right: 5px;color: #fed434"></span>
                          新增虚拟机
                        </li>
                        <ol>
                          <li>
                            <span class="glyphicon glyphicon-file" aria-hidden="true" style="margin-right: 5px"></span>
                            新增虚拟机
                          </li>
                          <li>
                            <span class="glyphicon glyphicon-folder-close" aria-hidden="true" style="margin-right: 5px"></span>
                            新增虚拟机
                          </li>
                          <ol>
                            <li>
                              <span class="glyphicon glyphicon-file" aria-hidden="true" style="margin-right: 5px"></span>
                              新增虚拟机
                            </li>
                            <li>
                              <span class="glyphicon glyphicon-file" aria-hidden="true" style="margin-right: 5px"></span>
                              新增虚拟机
                            </li>
                          </ol>
                        </ol>
                      </ol>
                    </ol>
                  </div>
                </div>
              </div>
            </div>



          </div>
          <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="toolbar1" class="btn-group">
                  <a  id="btn_add_vm" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增虚拟机
                  </a>
                  <a  id="btn_add_vm" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增虚拟机
                  </a>
                  <a  id="btn_add_vm" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增虚拟机
                  </a>
                </div>
                <table data-toggle="table" th:attr="data-url='/recommendation?userId='+${userId}" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="vmName" data-sort-order="desc" data-show-export="true" id="temp-table">
                  <thead>
                  <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="caseName" >案件名称</th>
                    <th data-field="courtName">法院名称</th>
                    <th data-field="courtLevel" data-visible="false">法院层级</th>
                    <th data-field="courtProvince">法院省份</th>
                    <th data-field="courtCity" data-visible="false">法院地市</th>
                    <th data-field="courtCountry" data-visible="false">法院区县</th>
                    <th data-field="courtRegion" data-visible="false">法院区域</th>
                    <th data-field="isExpUnit" data-visible="false">法院试点</th>
                    <th data-field="courtType" data-visible="false">法院类型</th>
                    <th data-field="caseType">案件类型</th>
                    <th data-field="trialProcedure" data-visible="false">审判程序</th>
                    <th data-field="docType">文书类型</th>
                    <th data-field="caseNo" data-visible="false">案号</th>
                    <th data-field="caseCause" data-visible="false">案由</th>
                    <th data-field="client" data-visible="false">当事人</th>
                    <th data-field="judge" data-visible="false">审判人员</th>
                    <th data-field="clerk" data-visible="false">书记员</th>
                    <th data-field="trialMonth" data-visible="false">裁判月份</th>
                    <th data-field="trialDate">裁判日期</th>
                    <th data-field="trialYear" data-visible="false">裁判年份</th>
                    <th data-field="courtLevelOne" data-visible="false">一级法院</th>
                    <th data-field="courtLevelTwo" data-visible="false">二级法院</th>
                    <th data-field="courtLevelThree" data-visible="false">三级法院</th>
                    <th data-field="courtLevelFour" data-visible="false">四级法院</th>
                    <th data-field="courtSuperior" data-visible="false">上级法院名称</th>
                    <th data-field="content" data-visible="false" data-formatter="contentFormatter">判决内容</th>
                    <th data-formatter="operateFormatter" data-events='operateEvents'>操作</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>

          </div>
        </div>

      </div>


      <!-- Unnamed (组 合) -->
      <div id="u154" class="ax_default" data-left="0" data-top="0" data-width="1080" data-height="119">

        <!-- Unnamed (矩形) -->
        <div id="u155" class="ax_default box_2">
          <div id="u155_div" class=""></div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u156" class="ax_default" data-left="32" data-top="12" data-width="420" data-height="85">

          <!-- Unnamed (图片) -->
          <div id="u157" class="ax_default image">
            <img id="u157_img" class="img " src="assets/images/advanced-search/u51.png"/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u158" class="ax_default _一级标题">
            <div id="u158_div" class=""></div>
            <div id="u158_text" class="text ">
              <p><span>法律案例检索系统</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组 合) -->
        <div id="u159" class="ax_default" data-left="886" data-top="23" data-width="144" data-height="25">

          <!-- Unnamed (矩形) -->
          <div id="u160" class="ax_default link_button">
            <div id="u160_div" class=""></div>
            <div id="u160_text" class="text ">
              <p><span>用户名</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u161" class="ax_default link_button">
            <div id="u161_div" class=""></div>
            <div id="u161_text" class="text ">
              <p><span>退出登录</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <script>
    $("li").click(function () {
        $(this).next("ol").toggle(200);
    })
  </script>
  </body>
</html>
