<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <script src="assets/plugins/jquery-1.10.2.js"></script>

    <script src="assets/plugins/table/bootstrap.js"></script>
    <script src="assets/plugins/table/bootstrap-table.js"></script>
    <script src="assets/plugins/table/bootstrap-table-export.js"></script>
    <link href="assets/css/bootstrap-table.css" type="text/css" rel="stylesheet"/>
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row" id="header" style="background: #00aced">
        <div class="col-md-6">
            <div style="padding: 20px">
                <img height="60px" width="60px" style=" margin: 0px 20px 15px 20px"/>
                <h1 style="display: inline-block;">检索系统 管理后台</h1>
            </div>
        </div>
        <div class="col-md-6" style="text-align: right">
            <div style="padding: 40px;font-size: larger">
                <a style="margin-right: 30px">用户名</a>
                <a style="margin-right: 30px">退出登录</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table" data-url="/list-users" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-page-list="[10, 25, 50, 100, All]" data-pagination="true" data-sort-name="id" data-sort-order="desc" data-show-export="true" id="result-table">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="userName">名字</th>
                            <th data-field="password">密码</th>
                            <th data-field="email">邮箱</th>
                            <th data-field="registerTime">注册时间</th>
                            <th data-formatter="operateFormatter" data-events='operateEvents'>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div>

<script>
    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="btn btn-info detail"> 删除</button> '
        ].join('');

    };

    window.operateEvents = {
        'click .detail': function (e, value, row, index) {
            $.post("delete",{id:row["id"]}),function (rdata) {
                //todo
            }
        }
    };
</script>

</body>
</html>